<nav class="navBar"> 
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/quiz">Quiz</a>
        </li>
        <li>
            <a href="/leaderboards">Leaderboard</a>
        </li>
    </ul>
</nav>