<%- include('partials/header') %>
    <main class="main-content index_container">
        <%- include('partials/nav') %>
            <h1>Leaderboard</h1>
            <h3>Check out the highest scores below: </h3>
            <%= leaderboard %>
                <%= leaderNames %>

                    <div class="links">
                        <a href="/quiz">
                            <h3>Try again?</h3>
                        </a>
                        <a href="/quiz">
                            <h3>Return Home</h3>
                        </a>
                        <a href="/leaderboard">
                            <h3>View Leaderboards</h3>
                        </a>
                        <a href="/">
                    </div>
    </main>