<%- include('partials/header') %>
    <main class="main-content index_container">
        <%- include('partials/nav') %>
            <h1>Leaderboards</h1>
            <h3>Check out the highest scores below: </h3>
    </main>