body {
  background: linear-gradient(
    90deg,
    rgba(93, 142, 251, 1) 0%,
    rgba(93, 142, 251, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Lato", sans-serif;
  display: flex;
  color: #f6f6f6;
}

.main-content {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.index_container .navigation__container {
  display: flex;
  flex-direction: row;
}

.index_container .navigation__container a {
  background-color: #ffffff;
  aspect-ratio: 1;
  display: flex;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 25px;
}

.index_container .navigation__container a:link {
  color: #5d8efb;
  text-decoration: none;
}

.index_container .navigation__container a:visited {
  text-decoration: none;
}

.index_container .navigation__container :last-child {
  margin-right: 0px;
}

.mathQ {
  margin-top: 10px;
  margin-bottom: 20px;
}

.navBar {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.navBar ul {
  display: flex;
}

.navBar li {
  padding: 15px;
  list-style: none;
}

.navBar a {
  color: #5d8efb;
  text-decoration: none;
}

.navBar a:visited {
  color: #5d8efb;
}

.navBar a:hover {
  color: rgb(52, 54, 58);
  transition: 0.7s;
}

.links {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links a {
  color: white;
  text-decoration: none;
}

.links a:visited {
  color: white;
}

.links a:hover {
  color: #233762;
  transition: 0.7s;
}
